<%- include("partials/head", { pageTitle }) %>
<%- include("partials/navbar", { activeRoute }) %>

<section class="main-section section active">
  <img
    src="/img/image.png"
    alt="Seependra Singh"
    width="152"
    height="152"
    loading="eager"
    fetchpriority="high"
    decoding="async"
  />
  <h1>Seependra Singh</h1>
  <p>Welcome to my browser</p>
  <div class="quick-links">
    <a href="<%= profileLinks.github %>" target="_blank" rel="noreferrer"><span><i class="fa-brands fa-github"></i></span>GitHub</a>
    <a href="<%= profileLinks.linkedin %>" target="_blank" rel="noreferrer"><span><i class="fa-brands fa-linkedin"></i></span>LinkedIn</a>
    <a href="<%= profileLinks.email %>"><span><i class="fa-solid fa-envelope"></i></span>Email</a>
    <% if (hasResume) { %>
      <a href="<%= profileLinks.resume %>" target="_blank" rel="noreferrer"><span><i class="fa-solid fa-file-lines"></i></span>Resume</a>
    <% } else { %>
      <span class="quick-link-disabled" title="Resume will be added soon"><span><i class="fa-solid fa-file-lines"></i></span>Resume</span>
    <% } %>
  </div>
</section>

<%- include("partials/footer") %>


